@-webkit-keyframes slidy {
  0% {
    left: 0%;
  }
  20% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}

@keyframes slidy {
  0% {
    left: 0%;
  }
  20% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}

html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select, textarea {
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

td:not([align]), th:not([align]) {
  text-align: left;
}

body {
  background-color: white;
}

a {
  text-decoration: none;
  color: #292929;
}

a:hover {
  color: black;
  text-shadow: 2px 2px 5px #070707;
}

@font-face {
  font-family: 'title';
  src: url("./font/Superclarendon Regular.ttf");
}

.body {
  font-family: 'title';
}

h4 {
  font-size: 1.3rem;
}

@media all and (max-width: 768px) {
  h4 {
    font-size: 1rem;
  }
}

h1 {
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-box-shadow: 0px 0px 20px 20px rgba(255, 255, 255, 0.6);
          box-shadow: 0px 0px 20px 20px rgba(255, 255, 255, 0.6);
  padding: auto;
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
}

h1 .first_letter {
  color: #e20303;
  font-size: 4rem;
}

@media (max-width: 425px) {
  h1 {
    font-size: 2rem;
  }
  h1 .first_letter {
    color: #e20303;
    font-size: 2rem;
  }
}

@media all and (max-width: 768px) {
  h1 {
    font-size: 3rem;
  }
  h1 .first_letter {
    color: #e20303;
    font-size: 3rem;
  }
}

.card_banner_typo {
  font-weight: bold;
  font-size: 2.5rem;
}

@media (max-width: 425px) {
  .card_banner_typo {
    font-size: 1rem;
  }
}

@media all and (max-width: 768px) {
  .card_banner_typo {
    font-size: 2rem;
  }
}

.card_body_typo {
  font-size: 2rem;
}

@media (max-width: 425px) {
  .card_body_typo {
    font-size: 1rem;
  }
}

@media all and (max-width: 768px) {
  .card_body_typo {
    font-size: 1.5rem;
  }
}

figcaption {
  -webkit-box-shadow: 0 5px 15px #505050, inset 0 5px 15px #505050;
          box-shadow: 0 5px 15px #505050, inset 0 5px 15px #505050;
  width: 80%;
  margin: auto;
  padding: 5px;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
}

@media (max-width: 600px) {
  figcaption {
    font-size: 1rem;
  }
}

.partners_typo {
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: underline;
}

@media (max-width: 600px) {
  .partners_typo {
    font-size: 1.3rem;
  }
}

@media (max-width: 425px) {
  .partners_typo {
    font-size: 1.2rem;
  }
}

.card {
  background-color: #ebebeb;
  height: auto;
  padding-bottom: 1rem;
}

.card_banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: solid 2px black;
}

.card_banner .card_banner_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card_banner .rotaxmax {
  padding: 10px;
}

.card_banner .rotaxmax img {
  -webkit-box-shadow: 0 5px 15px #505050, inset 0 5px 15px #505050;
          box-shadow: 0 5px 15px #505050, inset 0 5px 15px #505050;
  border-radius: 15px 0;
  height: 100px;
  margin: 10px;
}

.card_banner .rotaxmax_left {
  border-radius: 25px 0 0;
}

.card_banner .rotaxmax_right {
  border-radius: 0 25px 0 0;
}

.card_banner .card_banner_logo img {
  height: 8vh;
  margin: 2vh;
  margin-bottom: 0;
  margin-top: 0;
}

@media all and (max-width: 768px) {
  .card_banner .card_banner_logo img {
    height: 6vh;
  }
}

button {
  margin-top: 1rem;
  margin-left: 90%;
  padding: auto;
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-weight: bold;
  font-family: 'title';
  border: solid 2px black;
  border-radius: 5px;
  background-color: #2b2b2b;
  -webkit-box-shadow: 0 5px 15px #505050, inset 0 5px 15px #505050;
          box-shadow: 0 5px 15px #505050, inset 0 5px 15px #505050;
}

button a {
  color: white;
}

.card_body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px;
}

.card_body figcaption {
  margin-top: 10px;
  text-align: center;
  font-size: 1.3rem;
  border: solid 1px black;
  background-color: white;
}

.card_body p {
  margin: auto;
  margin-top: 3vh;
  font-size: 1.5rem;
  width: 30%;
  margin-left: 2rem;
}

.card_body_part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header {
  position: fixed;
  width: 100%;
  top: 0px;
  -webkit-box-shadow: 0px 5px 20px 10px white;
          box-shadow: 0px 5px 20px 10px white;
}

.header_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
}

.header_nav ul {
  margin-top: 10px;
}

@media (max-width: 425px) {
  .header_nav ul {
    display: none;
  }
}

.header_nav li {
  display: inline;
  margin: 2vw;
}

.header_nav_lien a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
  text-shadow: 2px 2px 5px #3f3f3f;
}

.header_nav_lang_choice {
  background-color: white;
}

.header_nav_lang_choice img {
  margin-top: 10px;
  height: 2rem;
  -webkit-box-shadow: 0 5px 15px #505050, inset 0 5px 15px #505050;
          box-shadow: 0 5px 15px #505050, inset 0 5px 15px #505050;
}

@media (max-width: 425px) {
  .header_nav_lang_choice img {
    height: 1rem;
  }
}

.banner {
  margin-top: 55px;
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media (max-width: 600px) {
  .banner {
    margin-top: 0;
  }
}

.banner_ask_title_complement {
  background-color: rgba(255, 255, 255, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media all and (max-width: 768px) {
  .banner_ask_title_complement {
    display: none;
  }
}

.banner_ask_title_complement .nation-flag img {
  height: 60px;
}

.banner_ask_title_complement h2 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin: 8px;
}

.header_responsive {
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  height: 50px;
  line-height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
}

.header_logo {
  float: left;
}

.header_logo img {
  height: 4vh;
  margin: 2vh;
}

.menu {
  float: left;
}

.menu a {
  padding: 0 10px;
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
}

.menu a:hover {
  font-size: 1.6rem;
  text-shadow: 2px 2px 5px #3f3f3f;
}

.header_icon {
  display: none;
}

@media (max-width: 600px) {
  .header_responsive {
    position: static;
  }
  .header_icon {
    display: contents;
    margin-left: 20px;
    display: block;
    float: left;
    width: 45px;
    height: 30px;
    cursor: pointer;
    margin-top: 1rem;
  }
  .header_icon img {
    height: 2rem;
  }
  .menu {
    position: absolute;
    left: 2vh;
    top: 1vh;
    bottom: 0;
    background-color: white;
    width: auto;
    height: 5vh;
    -webkit-transform: translateX(-250px);
            transform: translateX(-250px);
  }
  .menu a {
    display: block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #ebebeb;
    border-bottom: solid 1px white;
  }
}

footer {
  padding: 1vh 0 2vh 5vh;
  background-color: white;
  border: solid 5px #505050;
  border-left: none;
  border-right: none;
  font-weight: bold;
  line-height: 2rem;
  font-size: 1.4rem;
}

@media (max-width: 600px) {
  footer {
    font-size: 1.2rem;
  }
}

@media (max-width: 425px) {
  footer {
    font-size: 1rem;
    padding: 0;
  }
}

img {
  height: 25px;
  margin-right: 8px;
}

footer ul {
  margin-top: 2vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 600px) {
  footer ul {
    margin-top: 1vh;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 425px) {
  footer ul {
    margin-top: 1vh;
  }
}

footer figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#slider {
  height: 320px;
  width: 100%;
  margin-left: 20px;
  -webkit-box-shadow: 5px 5px 25px white;
          box-shadow: 5px 5px 25px white;
  border-radius: 50px;
  max-width: 320px;
  overflow: hidden;
}

#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  padding: 0;
  font-size: 0;
  text-align: left;
  left: 0;
  -webkit-animation: 20s slidy infinite;
          animation: 20s slidy infinite;
}

#slider figure img {
  width: auto;
  height: auto;
  float: left;
  margin: 0 0 0 0;
}

/*####################################*\
##########  Partie team         ########
\*####################################*/
.card_body_team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card-team-presentation {
  margin-top: 40px;
  padding: 30px;
}

/*####################################*\
########## FIN Partie team      ########
\*####################################*/
/*####################################*\
##########  Partie competition  ########
\*####################################*/
@media all and (max-width: 768px) {
  .card_body_competition {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media all and (max-width: 768px) {
  .card_body_competition p {
    width: 90%;
  }
}

.card_body_competition .rotaxmax-calendar {
  margin: auto;
}

.card_body_competition .rotaxmax-calendar img {
  height: 320px;
  -webkit-box-shadow: 0 5px 15px #505050, inset 0 5px 15px #505050;
          box-shadow: 0 5px 15px #505050, inset 0 5px 15px #505050;
}

@media (max-width: 1024px) {
  .card_body_competition .bira-track {
    display: none;
  }
}

.card_body_competition .bira-track img {
  margin: auto;
  height: 320px;
  -webkit-box-shadow: 0 5px 15px #505050, inset 0 5px 15px #505050;
          box-shadow: 0 5px 15px #505050, inset 0 5px 15px #505050;
}

/*####################################*\
##########  Fin Partie competition  ####
\*####################################*/
/*####################################*\
########## Partie partenaire        ####
\*####################################*/
#slider {
  margin: auto;
}

.card-partenaires-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

@media (max-width: 600px) {
  .card-partenaires-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.card-partenaires-list {
  text-align: center;
}

.card-partenaires-list li {
  margin-right: 20px;
}

/*####################################*\
##########  Fin Partie competition  ####
\*####################################*/
.card-team-page {
  margin-top: 16rem;
}

.team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 5% 5%;
  font-size: 1.5rem;
}

@media all and (max-width: 1024px) {
  .team-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.team-list-part {
  width: 100%;
}

.team-list-part li {
  line-height: 2rem;
  width: 95%;
  margin-left: 20px;
}

.team-list-part h3 {
  font-weight: bold;
  border-radius: 5px;
  border: solid 1px black;
  text-align: center;
  margin: 2vw;
  margin-bottom: 20px;
  padding: 15px;
}

.video {
  margin-top: 2vh;
}

.video iframe {
  margin: auto;
  border: solid 2px #505050;
  -webkit-box-shadow: 0 5px 15px #505050, inset 0 5px 15px #505050;
          box-shadow: 0 5px 15px #505050, inset 0 5px 15px #505050;
  width: 560px;
  height: 315px;
}

@media (max-width: 600px) {
  .video iframe {
    width: 100%;
    height: 315px;
  }
}

.team-pictures {
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 600px) {
  .team-pictures {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.team-pictures .team-picture-items {
  margin: auto;
  margin-top: 1rem;
}

.team-pictures figure {
  margin: auto;
}

.team-pictures img {
  height: 200px;
  margin: auto;
  margin-bottom: 10px;
  border: solid 2px #505050;
  -webkit-box-shadow: 0 5px 15px #505050, inset 0 5px 15px #505050;
          box-shadow: 0 5px 15px #505050, inset 0 5px 15px #505050;
}

.rotaxmax-calendar {
  margin: auto;
}

.rotaxmax-calendar img {
  margin: auto;
  height: 320px;
  -webkit-box-shadow: 0 5px 15px #505050, inset 0 5px 15px #505050;
          box-shadow: 0 5px 15px #505050, inset 0 5px 15px #505050;
}

.bira-track {
  margin: auto;
}

.bira-track img {
  height: 320px;
  -webkit-box-shadow: 0 5px 15px #505050, inset 0 5px 15px #505050;
          box-shadow: 0 5px 15px #505050, inset 0 5px 15px #505050;
}

.figcaption_comments {
  margin: auto;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  width: 80%;
  text-align: center;
  font-size: 1.3rem;
  line-height: 2rem;
}

@media (max-width: 600px) {
  .figcaption_comments {
    font-size: 1rem;
  }
}

.figcaption_comments img {
  height: 2rem;
  position: relative;
  top: 1vh;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.card_body_race {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px;
}

.card_body_race .card_body_part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media all and (max-width: 768px) {
  .card_body_race .card_body_part {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.card_body_race figcaption {
  margin: auto;
  width: 80%;
  text-align: center;
  font-size: 1.3rem;
  line-height: 2rem;
}

@media (max-width: 600px) {
  .card_body_race figcaption {
    font-size: 1rem;
  }
}

.card_body_race figcaption img {
  height: 2rem;
  position: relative;
  top: 1vh;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.card_body_race p {
  font-size: 1.5rem;
  margin-left: 2rem;
  width: 100%;
}

@media (max-width: 600px) {
  .card_body_race p {
    font-size: 1.2rem;
    width: 80%;
  }
}

.card_body_race figure {
  margin: auto;
  margin-top: 2rem;
}

.gallery-pictures {
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gallery-pictures img {
  padding: auto;
  height: 400px;
  margin: 10px;
  border: solid 2px #505050;
  -webkit-box-shadow: 0 5px 15px #505050, inset 0 5px 15px #505050;
          box-shadow: 0 5px 15px #505050, inset 0 5px 15px #505050;
}

.gallery-pictures figcaption {
  text-align: center;
  font-size: 2rem;
  line-height: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
  border: solid 2px #505050;
  -webkit-box-shadow: 0 5px 15px #505050, inset 0 5px 15px #505050;
          box-shadow: 0 5px 15px #505050, inset 0 5px 15px #505050;
}
/*# sourceMappingURL=main.css.map */