

.card{
    
    background-color:$bg_color;
    // border-radius:25px;
    height: auto;
    // @include box-shadow-main;
    // margin:0 2rem 0 2rem;
    padding-bottom:1rem;
 
}


.card_banner{
    display:flex;
    flex-direction: column;

    background-color:white;
    // border-top:solid 2px black;
    border-bottom: solid 2px black;
    // border-left: solid 5px black;
    margin-left:5px;
    .card_banner_text{
        display: flex;
        margin-left: 1rem;
        margin-top:2rem;
        align-items: center;
    }
    .rotaxmax{
        padding:10px;
        img{
            @include box-shadow-main;
            border-radius:15px 0;
            height:100px;
            margin:10px;
        }
    }
    .rotaxmax_left{
        border-radius:25px 0 0;
    }
    .rotaxmax_right{
        border-radius:0 25px 0 0;
    }
    .card_banner_logo{
        img{
            border-radius: 15px 0 15px 0;
            height:50px;
            margin:10px;
        }
        @include tablet {
            display: none;
        }

        
    }        

}
.card_banner_inner {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    }
// .card_banner::before {
//     content:"";
//     display: block;
//     background-color:black;
//     height: 5px;
//     width:20%;

// }

button {
    margin-top:1rem;
    margin-left: 90%;
    padding: auto;
    align-self: flex-end;
    font-weight: bold;
    font-family: 'title';
    border: solid 2px black;
    border-radius: 5px;
    background-color: #2b2b2b;
    @include box-shadow-main;
    a {
        color: white;
    }
}
.card-body{
    display:flex;
    justify-content:space-between;
    flex-direction: column;
    margin:20px;
    figcaption{
        margin-top: 10px;
        text-align: center;
        font-size: 1.3rem;
        border :solid 1px black;
        background-color: white;
        img{
            height:2rem;
            position: relative;
            top:10px;
            box-shadow:none;
        }
    }
    p{
        margin: auto;
        margin-top:3vh;
        font-size:1.5rem;
        width:30%;
        margin-left:2rem;
    }
}
.card-body-part {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

