footer{
    padding:1vh 0 2vh 5vh;
    background-color:white;
    @include border-main;
    border-left: none;
    border-right: none;
    font-weight:bold;
    line-height: 2rem;
    font-size: 1.4rem;
    @include slide {
        font-size: 1.2rem;
    }
    @include cel {
        font-size: 1rem;
    }
}
img{
    height:25px;
    margin-right:8px;
}
footer{
    ul{
        margin-top:2vh;
        li {
            margin-top:1vh
        }
    }
    figure{
        display:flex;
        flex-direction: row;
    }
}


