header {
    z-index:1;
    position:fixed;
    width:100%;
    top: 0px;
    box-shadow: 0px 10px 20px 30px white;
    
}
.header-nav {
    display: flex;
    justify-content:space-between;
    background-color: white;
    height: 7vh;
    ul{
        margin-top:10px;
    }
    li {
        display:inline;
        margin:2rem;
        
    }
}

.card-lien-page{
    // margin: 20px 0px 10px 30px;
    // padding-top:40px;
    // padding-right:20px;
    // position: relative;
    // bottom: 35px;;
    a{
        text-decoration: none;
        color: rgb(0, 0, 0);
        // @include box-shadow-main;
        // padding:5px 15px 5px 15px;
        // border-radius:15px;
        font-size: 1.5rem;
        font-weight: bold;
        text-shadow: 5px 5px 10px rgb(63, 63, 63);
    }
} 
// // toggle bouton
// .btn-responsive {
//     position: absolute;
//     left: 20px;
//     top:20px;
//     padding: 5px;
//     display: none; /* n'apparait pas sur grand ecran*/
// }
// @media screen and (max-width: 650px){
//     .liste {
//         flex-direction: column;
//         position: relative;
//         top: 70px;
//         height: 210px;
        
//         display: none; /* la liste n'apparait pas  ecran < 650px */
//     }
//     .liste.show {
//         display: block;
//         /* width: 50%; */
//     }
//     .items {
//         background: rgb(141, 141, 141);
//         height: 70px;  /* 3x la height = height parent*/
//         width: 30%;
//         text-align: center;
//         line-height: 70px;
//     }
//     .btn-responsive {
//         display: block; /* apparait sur ecran < 650px */
//     }
// }
.lang-choice{
    background-color: white;
    img{
        margin-top:10px;
        height:2rem;
        @include box-shadow-main;
    }
}

.banner{
    background-image: url("/././media/ASK/Tecno_Track_Right_Resize.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: $bg_color;
    margin-top: 90px;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 30rem;
    padding:2px 0;
}

h1{
    background-color: rgba(255, 255, 255,0.6);
    box-shadow: 0px 0px 20px 20px rgba(255, 255, 255,0.6);
    padding: 0 135px;
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    @include text-shadow;
    .first_letter{
    color: #e20303;
    font-size:4rem;
    }
}

.ask-presentation-complement{
    background-color: rgba(255, 255, 255,0.6);
    box-shadow: 0px 0px 20px 20px rgba(255, 255, 255,0.6);
    display: flex;
    justify-content: center;
            @include tablet{
            display: none;
            }
    .nation-flag{
        img{
        height:60px;
        }
        
    }
    h2{
    font-size:2rem;
    font-weight: bold;
    text-align: center;
    @include text-shadow;
    margin:8px;
    }
}