header {
    // z-index:1;
    position:fixed;
    width:100%;
    top: 0px;
    box-shadow: 0px 5px 20px 10px white;

}
.header_nav {
    display: flex;
    justify-content:space-between;
    background-color: white;

    ul{
        margin-top:10px;
        @include cel {
            display:none;
        }
    }
    li {
        display:inline;
        margin:2vw;
        
    }
}

.header_nav_lien{
    a{
        text-decoration: none;
        color: rgb(0, 0, 0);
        font-size: 1.5rem;
        font-weight: bold;
        text-shadow: 2px 2px 5px rgb(63, 63, 63);
    }
} 
// // toggle bouton
// .btn-responsive {
//     position: absolute;
//     left: 20px;
//     top:20px;
//     padding: 5px;
//     display: none; /* n'apparait pas sur grand ecran*/
// }
// @media screen and (max-width: 650px){
//     .liste {
//         flex-direction: column;
//         position: relative;
//         top: 70px;
//         height: 210px;
        
//         display: none; /* la liste n'apparait pas  ecran < 650px */
//     }
//     .liste.show {
//         display: block;
//         /* width: 50%; */
//     }
//     .items {
//         background: rgb(141, 141, 141);
//         height: 70px;  /* 3x la height = height parent*/
//         width: 30%;
//         text-align: center;
//         line-height: 70px;
//     }
//     .btn-responsive {
//         display: block; /* apparait sur ecran < 650px */
//     }
// }
.header_nav_lang_choice{
    background-color: white;
    img{
        margin-top:10px;
        height:2rem;
        @include box-shadow-main;
        @include cel {
            height: 1rem;
        }
    }
}

.banner{
    margin-top: 55px;
    @include slide {
        margin-top:0;
        margin-bottom: 1rem;
    }
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}



.banner_ask_title_complement{
    background-color: rgba(255, 255, 255,0.6);
    // box-shadow: 0px 0px 20px 20px rgba(255, 255, 255,0.6);
    display: flex;
    justify-content: center;
            @include tablet{
            display: none;
            }
    .nation-flag{
        img{
        height:60px;
        }
    }
    h2{
    font-size:2rem;
    font-weight: bold;
    text-align: center;
    @include text-shadow;
    margin:8px;
    }
}
.header_responsive{
    position: fixed;
    z-index:1;
    left:0;
    right:0;
    // height: 50px;
    line-height: 40px;

    background-color: white;
    
}
.header_logo {
    float: left;
    img{

        height:4vh;
        margin:2vh;
    }
    
}
.menu {
    float: left;
    a{
        padding: 0 10px;
        text-decoration: none;
        color: rgb(0, 0, 0);
        font-size: 1.5rem;
        font-weight: bold;
        
    }
    a:hover{
        font-size : 1.6rem;
        text-shadow: 2px 2px 5px rgb(63, 63, 63);
    }
}
.header_icon {
    display:none;
    
}
@include slide {
    .header_responsive {
        position: static;
        
    }
    .header_icon {
        display: contents;
        // position: relative;
        margin-left: 20px;;
        display: block;
        float: left;
        width: 45px;
        height: 50px;
        cursor: pointer;
        margin-top: 1rem;
        img {
            height: 2rem;

        }
    }
    .menu{
        // display: none;
        position: absolute;
        left:2vh;
        top:1vh;
        bottom:0;
        background-color: white;
        width: auto;
        height: 5vh;
        transform:translateX(-250px);
        a {
            display: block;
            height: 40px;
            line-height: 40px;
            text-align: center;
            background-color: $bg_color;
            border-bottom: solid 1px white;

        }
    }
}