$screen-cel: 425px;

$slide:600px;  //   Slide show

$screen-tablet: 768px;

$screen-lg: 1024px;

$screen-xl: 1440px;

$screen-xxl: 2560px;
@mixin cel {
    @media (max-width: #{$screen-cel}) {
    @content;
    }
}

@mixin slide {  
    @media (max-width: #{$slide}) {
        @content;
        }
}

@mixin tablet {
    @media all and (max-width: #{$screen-tablet}) {
    @content;
    }
}

@mixin desktop {
    @media (max-width: #{$screen-lg}) {
    @content;
    }
}

@mixin lg_desktop {
    @media (max-width: #{$screen-xl}) {
    @content;
    }
}
  
@mixin xlg_desktop {
    @media (max-width: #{$screen-xxl}) {
    @content;
    }
}

