

/*####################################*\
##########  Partie team         ########
\*####################################*/


.card-team-body{
    display:flex;
    flex-direction:column;
    justify-content: space-between;
}
.card-team-presentation{

    margin-top:40px;
    padding:30px;
    
    
}


/*####################################*\
########## FIN Partie team      ########
\*####################################*/

/*####################################*\
##########  Partie competition  ########
\*####################################*/

.card_body_competition {
    @include tablet {
        display: flex;
        flex-direction: column;
    }
    p {
        @include tablet {
            width:80%;
        }
    }
    
}


.rotaxmax-calendar img{
    height:320px;
    @include box-shadow-main;
}

.bira-track {   
     @include desktop{
        display: none;
        }
    img{
    height:320px;
    @include box-shadow-main;

   
}
}


/*####################################*\
##########  Fin Partie competition  ####
\*####################################*/

/*####################################*\
########## Partie partenaire        ####
\*####################################*/

#slider {
    margin:auto;
}
.card-partenaires-body{
    display:flex;
    justify-content: space-evenly;
    margin-top:20px;
    @include slide {
        flex-direction: column;
    }
}
.card-partenaires-list{
    margin-left:20px;
    li{
        margin:10px;
    }
}
.partners{
    font-size:1.8rem;
    text-decoration:underline;
}
/*####################################*\
##########  Fin Partie competition  ####
\*####################################*/
