

/*####################################*\
##########  Partie team         ########
\*####################################*/


.card_body_team{
    display:flex;
    flex-direction:column;
    justify-content: space-between;
}
.card-team-presentation{

    margin-top:40px;
    padding:30px;
    
    
}


/*####################################*\
########## FIN Partie team      ########
\*####################################*/

/*####################################*\
##########  Partie competition  ########
\*####################################*/

.card_body_competition {
    @include tablet {
        display: flex;
        flex-direction: column;
    }
    p {
        @include tablet {
            width:90%;
        }
    }
    
    .rotaxmax-calendar {
        margin:auto;
        img{
        height:320px;
        @include box-shadow-main;
        }
    }
    
    .bira-track {   
         @include desktop{
            display: none;
            }
        img{
            margin:auto;
        height:320px;
        @include box-shadow-main;
    
       
    }
    }

}




/*####################################*\
##########  Fin Partie competition  ####
\*####################################*/

/*####################################*\
########## Partie partenaire        ####
\*####################################*/

#slider {
    margin:2rem;
}
.card-partenaires-body{
    display:flex;
    justify-content:center;
    margin-top:20px;
    @include slide {
        flex-direction: column;
    }
}
.card-partenaires-list{
    text-align: center;
    li{
        margin:10px;
    }
}
.partners{
    font-size:1.8rem;
    text-decoration:underline;
}
/*####################################*\
##########  Fin Partie competition  ####
\*####################################*/
